/*
 *
 *	Add positioning for each Spa in Startup Guide for DESKTOP here
 *
 *	Naming convention for each rollover anchor:
 *
 *		#sg-details-[SPA_NAME] a#sg-air-anchor-[POSITION]
 *	
 *	where [SPA_NAME] is the name of the spa in all lowercase (no special characters)
 *	and [POSITION] is the number 1 through X of the rollover position, following image r1, r2 ... rN number format
 *
 *	EXAMPLE (Maxxus): #sg-details-maxxus a#sg-air-anchor-1
 *
 *
 */


/* - - - - - MAXXUS - - - - - */
	/* air controls section */
	/* rollover anchors */
	#sg-details-maxxus a#sg-air-anchor-1 {
	left: 17px;
	top: 482px;
	}
	#sg-details-maxxus a#sg-air-anchor-2 {
	left: 20px;
	top: 251px;
	}
	#sg-details-maxxus a#sg-air-anchor-3 {
	left: 18px;
	top: 168px;
	}
	#sg-details-maxxus a#sg-air-anchor-4 {
	left: 193px;
	top: 20px;
	}
	#sg-details-maxxus a#sg-air-anchor-5 {
	left: 414px;
	top: 20px;
	}
	#sg-details-maxxus a#sg-air-anchor-6 {
	left: 607px;
	top: 286px;
	}
	#sg-details-maxxus a#sg-air-anchor-7 {
	left: 589px;
	top: 474px;
	}
	#sg-details-maxxus a#sg-air-anchor-8 {
	left: 587px;
	top: 546px;
	}
	/* massage controls section */
	/* rollover anchors */
	#sg-details-maxxus a#sg-massage-anchor-1 {
	left: 17px;
	top: 446px;
	}
	#sg-details-maxxus a#sg-massage-anchor-2 {
	left: 20px;
	top: 256px;
	}
/* END MAXXUS */

/* - - - - - ASPEN - - - - - */
	/* air controls section */
	/* rollover anchors */
	#sg-details-aspen a#sg-air-anchor-1 {
	left: 17px;
	top: 543px;
	}
	#sg-details-aspen a#sg-air-anchor-2 {
	left: 18px;
	top: 305px;
	}
	#sg-details-aspen a#sg-air-anchor-3 {
	left: 18px;
	top: 241px;
	}
	#sg-details-aspen a#sg-air-anchor-4 {
	left: 18px;
	top: 165px;
	}
	#sg-details-aspen a#sg-air-anchor-5 {
	left: 436px;
	top: 18px;
	}
	#sg-details-aspen a#sg-air-anchor-6 {
	left: 607px;
	top: 210px;
	}
	#sg-details-aspen a#sg-air-anchor-7 {
	left: 607px;
	top: 420px;
	}
	#sg-details-aspen a#sg-air-anchor-8 {
	left: 607px;
	top: 557px;
	}
	/* massage controls section */
	/* rollover anchors */
	#sg-details-aspen a#sg-massage-anchor-1 {
	left: 20px;
	top: 540px;
	}
	#sg-details-aspen a#sg-massage-anchor-2 {
	left: 20px;
	top: 87px;
	}
/* END ASPEN */

/* - - - - - altamar - - - - - */
	/* air controls section */
	/* rollover anchors */
	#sg-details-altamar a#sg-air-anchor-1 {
	left: 234px;
	top: 626px;
	}
	#sg-details-altamar a#sg-air-anchor-2 {
	left: 18px;
	top: 237px;
	}
	#sg-details-altamar a#sg-air-anchor-3 {
	left: 172px;
	top: 20px;
	}
	#sg-details-altamar a#sg-air-anchor-4 {
	left: 338px;
	top: 20px;
	}
	#sg-details-altamar a#sg-air-anchor-5 {
	left: 441px;
	top: 20px;
	}
	/* massage controls section */
	/* rollover anchors */
	#sg-details-altamar a#sg-massage-anchor-1 {
	left: 606px;
	top: 236px;
	}
/* END altamar */

/* - - - - - optima - - - - - */
	/* air controls section */
	/* rollover anchors */
	#sg-details-optima a#sg-air-anchor-1 {
	left: 20px;
	top: 363px;
	}
	#sg-details-optima a#sg-air-anchor-2 {
	left: 20px;
	top: 184px;
	}
	#sg-details-optima a#sg-air-anchor-3 {
	left: 183px;
	top: 20px;
	}
	#sg-details-optima a#sg-air-anchor-4 {
	left: 430px;
	top: 20px;
	}
	#sg-details-optima a#sg-air-anchor-5 {
	left: 608px;
	top: 423px;
	}
	/* massage controls section */
	/* rollover anchors */
	#sg-details-optima a#sg-massage-anchor-1 {
	left: 18px;
	top: 184px;
	}
	#sg-details-optima a#sg-massage-anchor-2 {
	left: 606px;
	top: 154px;
	}
/* END optima */

/* - - - - - cameo - - - - - */
	/* air controls section */
	/* rollover anchors */
	#sg-details-cameo a#sg-air-anchor-1 {
	left: 145px;
	top: 583px;
	}
	#sg-details-cameo a#sg-air-anchor-2 {
	left: 20px;
	top: 440px;
	}
	#sg-details-cameo a#sg-air-anchor-3 {
	left: 430px;
	top: 20px;
	}
	#sg-details-cameo a#sg-air-anchor-4 {
	left: 607px;
	top: 320px;
	}
	#sg-details-cameo a#sg-air-anchor-5 {
	left: 608px;
	top: 435px;
	}
	/* massage controls section */
	/* rollover anchors */
	#sg-details-cameo a#sg-massage-anchor-1 {
	left: 18px;
	top: 376px;
	}
	#sg-details-cameo a#sg-massage-anchor-2 {
	left: 606px;
	top: 399px;
	}
/* END cameo */

/* - - - - - majesta - - - - - */
	/* air controls section */
	/* rollover anchors */
	#sg-details-majesta a#sg-air-anchor-1 {
	left: 20px;
	top: 379px;
	}
	#sg-details-majesta a#sg-air-anchor-2 {
	left: 175px;
	top: 20px;
	}
	#sg-details-majesta a#sg-air-anchor-3 {
	left: 257px;
	top: 20px;
	}
	#sg-details-majesta a#sg-air-anchor-4 {
	left: 607px;
	top: 175px;
	}
	#sg-details-majesta a#sg-air-anchor-5 {
	left: 608px;
	top: 274px;
	}
	/* massage controls section */
	/* rollover anchors */
	#sg-details-majesta a#sg-massage-anchor-1 {
	left: 18px;
	top: 246px;
	}
/* END majesta */

/* - - - - - marin - - - - - */
	/* air controls section */
	/* rollover anchors */
	#sg-details-marin a#sg-air-anchor-1 {
	left: 210px;
	top: 665px;
	}
	#sg-details-marin a#sg-air-anchor-2 {
	left: 20px;
	top: 241px;
	}
	#sg-details-marin a#sg-air-anchor-3 {
	left: 195px;
	top: 20px;
	}
	#sg-details-marin a#sg-air-anchor-4 {
	left: 453px;
	top: 20px;
	}
	/* massage controls section */
	/* rollover anchors */
	#sg-details-marin a#sg-massage-anchor-1 {
	left: 18px;
	top: 286px;
	}
/* END marin */

/* - - - - - capri - - - - - */
	/* air controls section */
	/* rollover anchors */
	#sg-details-capri a#sg-air-anchor-1 {
	left: 207px;
	top: 530px;
	}
	#sg-details-capri a#sg-air-anchor-2 {
	left: 184px;
	top: 20px;
	}
	/* massage controls section */
	/* rollover anchors */
	#sg-details-capri a#sg-massage-anchor-1 {
	left: 18px;
	top: 239px;
	}
/* END capri */
